services:
  mgnt-sw-yang:
    build:
      context: . 
      dockerfile: Dockerfile
    image: mgnt-sw-yang-docker
    container_name: mgnt-sw-yang-docker

    environment:
      # Define which physical Ethernet switch ports shall be attach into the container.
      # When you define fakelanX as interface names, dummy interfaces are created inside the container.
      # If unset -> no switch ports are attached
      # SW_IF: "lan1, lan2, lan3, lan4"
      SW_IF: "fakelan0, fakelan1, fakelan2, fakelan3"
                    
    ports:
      # SSH console
      # Use user "cli" without an password to get the CLI prompt
      # Or user "clicon" without an password to use NETCONF
      - "2222:22"

      # Webssh console and RESTCONF
      # Web interface incl. webssh: http://localhost:8888
      # Only webssh: http://localhost:8888/webssh/
      # RESTCONF: http://localhost:8888/rest/
      - "8888:80"

      # SNMP ports
      - "1161:161/udp"

    volumes:
      - data:/storage/

    #restart: unless-stopped

    # The following settings are mandatory to run the this container
    cap_add:
      - NET_ADMIN
    pid: "host"
    privileged: true

volumes:
  data: